---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: general

"on":
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  linting:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'cloudpunks'

    steps:
      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Role linting
        uses: ansible/ansible-lint@main
        with:
          requirements_file: requirements.yml

  testing:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'cloudpunks'

    strategy:
      fail-fast: false

      matrix:
        scenario:
          - default

    steps:
      - name: Drop hosted
        run: rm -rf /opt/hostedtoolcache/Python

      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: 3.13

      - name: Install dependencies
        run: pip3 install docker pytest-testinfra ansible molecule molecule-plugins[docker]

      - name: Molecule tests
        run: molecule test --scenario-name ${{ matrix.scenario }}
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"

...
